/* styles/page.module.css */
.container {
    background-color: rgb(144, 253, 253); /* Fundo preto */
    color: white; /* Texto branco para contraste */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Para ocupar a tela inteira */
    padding: 20px;
    text-align: center; /* Centraliza texto dentro do container */
}

.title {
    color: rgb(0, 0, 0); /* Título em roxo */
    margin-bottom: 20px; /* Espaçamento abaixo do título */
}

.paragraph {
    color: rgb(0, 0, 0); /* Parágrafos em branco */
    margin: 10px 0; /* Espaçamento vertical entre parágrafos */
}

.error {
    color: red; /* Mensagem de erro em vermelho */
    margin-top: 10px; /* Espaçamento acima da mensagem de erro */
}
